In [1]:
print("Hello World!")

Hello World!

Data Types

In [2]:
myVar = "Hello World!"

In [3]:
print(myVar)

Hello World!

In [4]:
myName = "Emmanuel"
print(myName)

Emmanuel

In [5]:
age = 10
height = 1.7

print(age)
print(height)

10
1.7

### Strings

In [6]:
introduction = "Hi, my name is Emmanuel."
print(introduction)

Hi, my name is Emmanuel.

In [7]:
type(age)

int

In [8]:
type(height)

float

In [9]:
type(introduction)

str

In [10]:
str1 = 'This is my friend\'s car'
print(str1)

This is my friend's car

In [11]:
name ='Mark' 
surname = 'John'
age_mark = 44

print(name + ' ' + surname) #concatenation

Mark John

In [12]:
print('Mark is ' + str(age_mark) + ' years old') #casting int to str

Mark is 44 years old

In [13]:
new_year = 1
age_mark + new_year

45

In [14]:
new_year = '1'
age_mark + int(new_year) #casting str to int

45

In [15]:
float(age_mark + int(new_year))

45.0

In [16]:
print('Mark is {} years old.'.format(age_mark))

Mark is 44 years old.

In [17]:
height = 1.78
print('Mark is {age_var} years old and he is {height_var} meters tall.'.format(age_var = age_mark, height_var = height))

Mark is 44 years old and he is 1.78 meters tall.

### Numbers

In [18]:
num1 = 22
num2 = 2.4
num3 = 44

In [19]:
num1/num2

9.166666666666668

In [20]:
num1 * num2

52.8

In [21]:
num1 ** 2

484

In [22]:
num3 % 3

2

In [23]:
25 ** 0.5

5.0

In [24]:
type(25 ** 0.5)

float

### List

In [25]:
list1 = [12, 'Hello', 4.3, ['Ife', 6.6]]

In [26]:
list1.append('new')

In [27]:
list1

[12, 'Hello', 4.3, ['Ife', 6.6], 'new']

In [28]:
list1[0]

12

In [29]:
list1[3]

['Ife', 6.6]

In [30]:
list1[-1]

'new'

In [31]:
list1[3][0]

'Ife'

In [32]:
list1[0] = 13 #assign a new value to a list location
list1

[13, 'Hello', 4.3, ['Ife', 6.6], 'new']

In [33]:
len(list1)

5

In [34]:
len(list1[-1])

3

In [35]:
nest = [1, 2, 3, [4, 5, ['target']]]

In [36]:
nest[3][2][0]

'target'

In [37]:
nest[-1][-1][-1]

'target'

In [38]:
nest[-1][-1][0]

'target'

### Dictionaries

In [39]:
# dictionaries are denoted by key:value pairs
d = {'Name' : 'Ife', 'Age' : 11, 122 : 233, 'scores' : [32, 24, 4.4]}

In [40]:
d['Age']

11

In [41]:
d['scores'][1]

24

In [42]:
my_list = [1, 3, 5, 7, 9, 11, 13]

In [43]:
my_list[1:4]

[3, 5, 7]

In [44]:
my_list[0:3]

[1, 3, 5]

In [45]:
my_list[:3]

[1, 3, 5]

In [47]:
my_list[:-4]

[1, 3, 5]

In [53]:
dict2 = {
    'name': 'Matt',
    'age': 45,
    'kids': ['Esther', 'Rose'],
    'foods': ['beans', 'rice'],
    'movies': {
        'romance': 'Titanic', 
        'action': 'Terminator'},
    'height':1.8
}

In [50]:
dict2['movies']['romance']

'Titanic'

In [54]:
dict2

{'name': 'Matt',
 'age': 45,
 'kids': ['Esther', 'Rose'],
 'foods': ['beans', 'rice'],
 'movies': {'romance': 'Titanic', 'action': 'Terminator'},
 'height': 1.8}

In [55]:
del dict2['height']

In [56]:
dict2

{'name': 'Matt',
 'age': 45,
 'kids': ['Esther', 'Rose'],
 'foods': ['beans', 'rice'],
 'movies': {'romance': 'Titanic', 'action': 'Terminator'}}

In [59]:
dict2['movies']['action'] = 'Mission Impossible' # updateing a dictionary value

In [60]:
dict2

{'name': 'Matt',
 'age': 45,
 'kids': ['Esther', 'Rose'],
 'foods': ['beans', 'rice'],
 'movies': {'romance': 'Titanic', 'action': 'Mission Impossible'}}

In [61]:
dict2['height'] = 1.7 # adding a new record to the dictionary

In [62]:
dict2

{'name': 'Matt',
 'age': 45,
 'kids': ['Esther', 'Rose'],
 'foods': ['beans', 'rice'],
 'movies': {'romance': 'Titanic', 'action': 'Mission Impossible'},
 'height': 1.7}

### Booleans

In [63]:
bool1 = True
bool2 = False

In [64]:
type(bool1)

bool

### Tuple

In [65]:
tuple1 = ('hi', 44, 9.8)

In [66]:
tuple1[0]

'hi'

In [67]:
fruits = ("apple", "banana", "cherry")

### Sets

In [68]:
set1 = {"apple", "banana", "cherry", "apple"}

In [70]:
set1

{'apple', 'banana', 'cherry'}

In [69]:
set1[0]

TypeError: 'set' object is not subscriptable

### Logic Operators

In [71]:
(1 > 2) and (2 < 3)

False

In [72]:
(1 > 2) or (2 < 3)

True

In [73]:
(1 == 2) or (2 == 3) or (4 == 4)

True

### Statements

In [74]:
num4 = 388
num5 = 23
num6 = 56.6

In [75]:
# if statements
if num5 > 50:
    print('greater than 50!!!')

In [76]:
if num5 < 50:
    print('less than 50!!!')

less than 50!!!

In [77]:
# if-else statements
if num5 > 50:
    print('greater than 50!!!')
else:
    print('not greater than 50!!!')

not greater than 50!!!

In [78]:
# if-elif statements
if num4 > 50:
    print('greater than 50!!!')
elif num4 < 50:
    print('less than 50!!!')
else:
    print('equal to 50!!!')

greater than 50!!!

### Loops

### For Loops

In [79]:
seq = [1, 2, 3, 4, 5]

In [81]:
for each_item in seq:
    print(item)

1
2
3
4
5

In [82]:
for each_item in seq:
    print(each_item ** 2)

1
4
9
16
25

In [87]:
for each_item in seq:
    if each_item > 3:
        print(each_item)

4
5

### While Loopss

In [85]:
i = 0  # initialization
while i < 6:   #condition
    print(i)
    i = i + 1  # i += 1

0
1
2
3
4
5

### Range

In [89]:
for item in range(0, 4):
    print(item)

0
1
2
3

In [92]:
for item in range(0, 11):
    if item % 2 == 0 and item > 0:
        print(item)

2
4
6
8
10

In [96]:
for item in range(0, 12, 2):
    print(item)

0
2
4
6
8

In [98]:
for item in range(1, 10, 2):
    print(item)

1
3
5
7
9

### List Comprehension

In [99]:
x = [1, 2, 3, 4]

In [100]:
x_sqr = []

for item in x:
    x_sqr.append(item ** 2)
x_sqr

[1, 4, 9, 16]

In [101]:
[item ** 2 for item in x]

[1, 4, 9, 16]

### Functions

In [104]:
def avg_score(name, maths, eng, phy):
    average = (maths + eng + phy) / 3
    return "{}'s average score is {}".format(name, average)

In [105]:
avg_score('Tony', 33, 66, 32)

"Tony's average score is 43.666666666666664"

In [106]:
avg_score('Obi', 77, 88, 99)

"Obi's average score is 88.0"

In [109]:
def area_triangle(base, height):
    triangle_area = 0.5 * base * height
    return triangle_area

In [111]:
area_triangle(10, 15)

75.0